<div>
  <div class="imgLogo" >
    <div>
      <img src="assets/img/Trujillo.png" >
    </div>
  </div>
  <div class="opciones" >
    <div class="mueble" >  
      <img (click)="irMuebleria()"   src="assets/img/mueble.jpg" >
      <h4 style="font-family: 'Times New Roman'"><strong><i>Muebles</i></strong></h4>
    </div>
    <div class="ferreteria">
      <img (click)="irFerreteria()"  src="assets/img/ferreteria_vertical.jpg" >
      <h4 style="font-family: 'Times New Roman'"><strong><i>Ferreteria</i></strong></h4>
    </div>
  </div>
</div>
