.imgLogo{
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
    max-height: 80px;
    text-align: center;
  }
  .imgLogo img{
    max-height: 40px;
  }
.opciones{
    display: flex;
}
.mueble{
    padding: 5%;
    width: 49%;
}
    .mueble img {
        width: 100%;
        height: 700px;
    }
.ferreteria{
    padding: 5%;
    width: 49%;
}
    .ferreteria img {
        width: 100%;
        height: 700px;
    }

  @media screen and (max-width: 1000px) {
    .imgLogo{
        padding-top: 4%;
        padding-left: 8%;
        padding-right: 8%;
        max-height: 80px;
        text-align: center;
      }

    .opciones{
        display: block;
    }

    .mueble{
        padding: 10%;
        width: 100%;
        text-align: center;
    }

    .ferreteria{
        padding: 10%;
        width: 100%;
        text-align: center;
    }

    .mueble img {
        width: 75%;
        height: 350px;
    }

    .ferreteria img {
        width: 75%;
        height: 350px;
    }
}