.imgLogo{
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
    max-height: 120px;
    text-align: center;
  }
  .imgLogo img{
    max-height: 120px;
  }
.opciones{
    display: flex;
}
.mueble{
    text-align: center;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 1%;
    width: 49%;
}
    .mueble img {
        width: 70%;
        height: 450px;
    }

    .mueble img:hover{
        transform: scale(1.2);
        box-shadow: 0px 0px 10px #000000;
    }

.ferreteria{
    text-align: center;
    padding-left: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    width: 49%;
}
    .ferreteria img {
        width: 70%;
        height: 450px;
    }

    .ferreteria img:hover{
        transform: scale(1.2);
        box-shadow: 0px 0px 10px #000000;
    }

  @media screen and (max-width: 1000px) {
    .imgLogo{
        padding-top: 4%;
        padding-left: 8%;
        padding-right: 8%;
        max-height: 80px;
        text-align: center;
      }

    .opciones{
        display: block;
    }

    .mueble{
        padding: 10%;
        width: 100%;
        text-align: center;
    }

    .ferreteria{
        padding: 10%;
        width: 100%;
        text-align: center;
    }

    .mueble img {
        width: 75%;
        height: 350px;
    }

    .ferreteria img {
        width: 75%;
        height: 350px;
    }
}